<h3 class="ui header">{{t "forms.i-i-s-test-робот-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.имя
      class=(if (v-get validationObject "имя" "isInvalid") "error")
      label=(t "forms.i-i-s-test-робот-e.имя-caption")
      data-test-i-i-s-test-робот-e-имя=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "имя" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-test-робот-e.владелец-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.владелец
      relationName="владелец"
      projection="ВладелецL"
      title=(t "forms.i-i-s-test-робот-e.владелец-caption")
      readonly=readonly
      componentName="владелецLookup"
      class=(if (v-get validationObject "владелец" "isInvalid") "error")
      data-test-i-i-s-test-робот-e-владелец=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "владелец" "message")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.владелец.наименование
      class=(if (v-get validationObject.владелец "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-test-робот-e.владелец.наименование-caption")
      data-test-i-i-s-test-робот-e-владелец-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject.владелец "наименование" "message")}}
  </div>
</form>